@vantaca:registry=https://pkgs.dev.azure.com/vantaca/VantacaNextGeneration/_packaging/vantaca-elements/npm/registry/ 
@fortawesome:registry=https://npm.fontawesome.com/

//npm.fontawesome.com/:_authToken=A7AE8894-DAB9-4D9D-9EA5-3B7EBFB21C99
                  
always-auth=true

